<header>
    <div class="back-button-container">
        <a class="back-button" href="{{ page.backlink | default: / }}"><-</a>
    </div>
    <h1>{{ page.title | default: site.title }}</h1>
    <div class="search-container"></div>
    <div class="menu-container is-visible">
        <a href="/index.html">
            <img src="https://api.iconify.design/el/home-alt.svg?color=gray&width=32&height=32" alt="Home">
            <p class="nav-item">Home</p>
        </a>
        <a href="/posts/recipes/Recipes.html">
            <img src="https://api.iconify.design/file-icons/fork.svg?color=gray&width=32&height=32" alt="Recipes">
            <p class="nav-item">Recipes</p>
        </a>
        <a href="/posts/recipes/etc/Cooking-Ideas.html">
            <img src="https://api.iconify.design/el/idea-alt.svg?color=gray&width=32&height=32" alt="Cooking Ideas">
            <p class="nav-item">Cooking Ideas</p>
        </a>
    </div>
    <script>
        function toggleMenu(){
            var element = document.querySelector(".menu-container");
            element.classList.toggle("is-visible");
        }

        function toggleButton(element){
            element.classList.toggle("is-active");
        }
    </script>
</header>