<header>
    <div class="back-button-container">
        <button class="back-button" onclick="location.href = '{{ page.backlink | default: /Kyles-Cookbook.html }}'">
            <-
        </button>
    </div>

    <h1>{{ page.title | default: site.title }}</h1>

    {% include theme_toggle.html %}

    <div class="menu-container is-visible">
        <button class="home" onclick="location.href = '/Kyles-Cookbook.html'">
            <img src="https://api.iconify.design/bx/home-alt.svg?color=lightgray&width=28&height=28" alt="Home">
            <p class="nav-item">Index</p>
        </b>
        <button class="recipes" onclick="location.href = '/posts/kyles-cookbook/cooking/meatbased/moc/Cooking-Recipes.html'">
            <img src="https://api.iconify.design/icon-park-solid/fork-spoon.svg?color=lightgray&width=28&height=28" alt="">
            <p class="nav-item">Gerichte</p>
        </b>
        <button class="cooking-idea" onclick="location.href = '/posts/kyles-cookbook/cooking/notvegan/moc/Baking-Recipes.html'">
            <img src="https://api.iconify.design/ri/cake-3-line.svg?color=lightgray&width=28&height=28" alt="">
            <p class="nav-item">Backen</p>
        </button>
    </div>

</header>