.menu-button {
    background-color: var(--main-accent);
    border: 1px solid transparent;
    border-radius: var(--radius-big);
    box-shadow: var(--button-shadow);
    padding: 2px;
    transition: background-color 250ms ease-out,
                transform 100ms ease-out;
}

.menu-button-inner {
    background: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="22" height="22" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32"%3E%3Ccircle cx="8" cy="16" r="2" fill="white"%2F%3E%3Ccircle cx="16" cy="16" r="2" fill="white"%2F%3E%3Ccircle cx="24" cy="16" r="2" fill="white"%2F%3E%3C%2Fsvg%3E');
    width: 22px;
    height: 22px;
    transition: transform 200ms ease-out;
}

.menu-button.is-active .menu-button-inner {
    transform: rotate(-90deg);
    transition: transform 250ms ease-in;
}

.menu-button:hover {
    background-color: var(--main-accent-light);
    transform: scale(1.15);
    transition: background-color 200ms ease-in,
                transform 200ms ease-out;
}

.menu-button.is-active .menu-button-inner:hover {
    transform: rotate(-90deg);
    transition: transform 250ms ease-in;
}