* {
    padding: 0;
    margin: 0;
    color: var(--text-normal);
    -webkit-font-feature-settings: 'liga' on, 'calt' on;
    font-feature-settings: 'liga' on, 'calt' on;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;

    font-family: 'Fira Code';
    font-weight: 300;

}

::-moz-selection {
    background: var(--text-highlight-bg);
}

::selection {
    background: var(--text-highlight-bg);
}

body {
    background-color: var(--bg);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

@import 'button';
@import 'header';
@import 'text-elements';
@import 'footer';

.main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: max-content;
    margin-top: 80px;
    padding-top: 3rem;
}

.post {

    width: calc(80%);
    max-width: 870px;
    line-height: 1.5rem;

}

.post:not(.moc) ul, .post:not(.moc) ol {
    padding-left: 0;
    width: 100%;
}

.post.moc {
    display: flex;
    flex-direction: column;
}

.post.moc ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 100%;
}

.post.moc li:hover{
    background-color: var(--bg-dark);
    color: var(--main-accent-light);
    transform: translateY(-1px);
    transition: all 200ms ease-in;
    cursor: pointer;
}

.post.moc li {
    display: flex;
    width: 75%;
    align-self: center;
    color: var(--text-normal);
    background-color: var(--bg-darker);
    border: none;
    border-radius: var(--radius-big);
    padding: 15px;
    margin: 1rem 0;
    box-shadow: var(--button-shadow);
    justify-content: center;
    transition: all 200ms ease-out;
}

.post.moc li a {
    width: 100%;
    line-height: 100%;
    text-align: center;
    border: none;
    font-size: large;
}

.post ul > li::marker {
    content: none;
    display: none;
}

@media only screen and (max-width: 600px) {
    .content, .post {
        margin-left: 0.8rem;
        margin-right: 0.8rem;
        max-width: unset;

    }

    .post li::marker {
        font-size: small;
        position: absolute;
        right: 0;
    }

    .post h2 {
        font-size: 90%;
    }

    .post h3 {
        font-size: 1.2rem;
    }
}