footer {
    background-color: var(--main-accent-dark);
    height: 100px;
    width: 100%;
    padding: 3px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}