.menu-container {
    display: flex;
    flex-direction: column;
    width: calc(28px + 0.6rem + 1.4em);
    max-height: 100vh;
    padding-top: 2rem;
    padding-bottom: 2rem;
    overflow-y: auto;
    overflow-x: hidden;
    position: fixed;
    top: 80px;
    left: 0;
    bottom: 0;
    z-index: 2;
    background-color: var(--bg-darker);
    transition: width 300ms ease-out;
    box-shadow: var(--shadow);
    justify-items: center;
}

.menu-container:hover{
    width: 15%;
    transition: width 300ms ease-in;
}

header .menu-container > button {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    font-size: var(--header-4-size);
    background-color: transparent;
    border: none;
    transition: all 200ms ease-out;
}

header .menu-container > button > img {
    margin: 0.6rem 0.6rem;
    box-shadow: var(--button-shadow);
    padding: 5px;
    border: 1px solid transparent;
    border-radius: var(--radius-big);
    background-color: var(--bg-black);
    transition: all 200ms ease-out;
}

header .menu-container > button:hover > img {
    background-color: var(--bg-darker);
    transition: background-color 200ms ease-out;
}

header .menu-container > button > p {
    margin-right: 0.6rem;
    white-space: nowrap;
}

header .menu-container > button:hover {
    background-color: var(--main-accent-dark);
    color: var(--main-accent-dark);
    transition: all 200ms ease-in;
    cursor: pointer;
}

body.light-theme header .menu-container {
    background-color: var(--bg-dark);
}


@media only screen and (max-width: 600px) {
    header .menu-container > button:nth-child(1) > img {
        padding: 8px;
        border-radius: 50%;
        border: 1px solid var(--main-accent);
        margin-top: 0.3rem;
    }

    header .menu-container > button:nth-child(1) {
        order: 1;
    }

    header .menu-container > button:nth-child(2) {
        order: 2;
    }

    header .menu-container.is-visible{
        height: calc(32px + 1.2rem);
        width: 100vw;
        top: unset;
        left: 0;
        bottom: 0;
        flex-direction: row;
        margin: 0;
        padding: 0;
        border-color: transparent;
        justify-content: center;
        transition: all 300ms ease-in;
    }

    header .menu-container {
        height: calc(2*32px + 1.2rem);
        width: 100vw;
        top: unset;
        left: 0;
        bottom: -60px;
        flex-direction: row;
        margin: 0;
        padding: 0;
        border-top: 3px solid var(--main-accent);
        justify-content: center;
        transition: all 300ms ease-out;
    }

    .menu-container:hover{
        width: 100vw;
        transition: all 200ms ease-in;
    }

    header .menu-container > button > img:hover{
        border-color: var(--main-accent);
        background-color: var(--main-accent);
        transition: all 200ms ease-in;
    }

    header .menu-container > button {
        width: fit-content;
    }

    header .menu-container > button > p {
        display: none;
    }

    header .menu-container > button:hover {
        background-color: transparent;
        color: transparent;
        transition: all 200ms ease-in;
    }
}