@import 'links';

:is(h2, h3, h4, h5, h6):not(:first-child) {
    margin-top: 6rem;
}

h2, h3, h4, h5, h6 {
    margin-bottom: 1.5rem;
    border-bottom: 1px solid var(--horizontal-line-color);
    padding: 0.6rem 0.9rem;
}


h1 {
    color: var(--header-1-color);
    font-weight: var(--header-1-weight);
    text-align: var(--header-1-alignment);
    font-size: var(--header-1-size);
}

h2 {
    color: var(--header-2-color);
    font-weight: var(--header-2-weight);
    text-align: var(--header-2-alignment);
    font-size: var(--header-2-size);
}

h3 {
    color: var(--header-3-color);
    font-weight: var(--header-3-weight);
    text-align: var(--header-3-alignment);
    font-size: var(--header-3-size);
}

h4 {
    color: var(--header-4-color);
    font-weight: var(--header-4-weight);
    text-align: var(--header-4-alignment);
    font-size: var(--header-4-size);
}

h5 {
    color: var(--header-5-color);
    font-weight: var(--header-5-weight);
    text-align: var(--header-5-alignment);
    font-size: var(--header-5-size);
}

h6 {
    color: var(--header-6-color);
    font-weight: var(--header-6-weight);
    text-align: var(--header-6-alignment);
    font-size: var(--header-6-size);
}

ul, ol {
    padding-left: 1.9rem;
}

li {
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
}

li::marker {
    color: var(--main-accent);
}

ul > li::marker {
    content: var(--list-bullet-sign);
}

strong {
    font-weight: bold;
    color: var(--main-accent);
}

em {
    font-style: italic;
}

table {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    border-spacing: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
}

thead th {
    font-weight: bold;
    background-color: var(--main-accent-dark);
}

td, th {
    padding: 2px;
    border: 1px solid var(--horizontal-line-color);
    text-align: center;
}

td {
    background-color: var(--bg-darker);
}

td:first-child {
    max-width: fit-content;
}

@media only screen and (max-width: 600px) {
    table {
        width: 90%;
    }
}